html, body, ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  background: #fff;
  font: 14px/1.6 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #333;
  text-decoration: underline;
  outline: 0;
}
a:hover, a:focus {
  color: #000;
}
.header-banner {
  background: rgba(47, 47, 47, 0.98);
}
header {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: bold;
  padding: 16px 0;
}
header a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  -webkit-transition: all 300ms;
          transition: all 300ms;
}
header a:hover {
  color: white;
}
header .search-form input {
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
}
header .avatar {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
.section-nav {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.section-nav a {
  font-weight: bold;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 20px 0 0;
}
.section-nav a.active, .section-nav a:hover {
  color: black;
}
.shots {
  padding: 20px 0;
}
.shot-wrap {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 12px;
}
.shot {
  background: white;
  padding: 10px 10px 6px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}
.meta {
  color: #888;
}
.meta div:before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 18px;
  margin: 0 2px 0 5px;
  position: relative;
  top: 2px;
}
.owner {
  margin: 10px;
}
.avatar {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 4px;
  vertical-align: sub;
}
.name {
  font-weight: bold;
  color: #4083a9;
}
.positioner {
  max-width: 970px;
  margin: 0 auto;
}


