.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 300px);/*v = viewport hight*/
}
header,footer {
  padding: 20px;
  background: #1abc9c;
  color: white;
}
.items {
  display: flex;
  flex-grow: 1; /*grows as much as it can */
  background: #3498db;
}
.col-1 {
  background: #9b59b6;
  flex-grow: 1;
}
.col-2 {
  background: #43395e;
  width: 160px;
  order: -1; /*puts in from of column 1 and 3 */
}
.col-3 {
  background: #f1c40f;
  width: 160px;
}
@media (max-width: 800px) {
  .items {
    flex-direction: column;
  }
  .col-2,.col-3 {
    width: auto;
  }
}

